*.pyc
*.log
node_modules
coverage/
arches76a/logs
arches76a/export_deliverables
arches76a/cantaloupe/*
arches76a/staticfiles
arches76a/media/packages
arches76a/media/build/
arches76a/uploadedfiles/*
arches76a/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
